body {
    background-image: url('stars-in-sky-dark-2732x2732-15485.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat:repeat;
}
.dashboard {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

.title {
    background: linear-gradient(9deg, #de098a, #7e30da);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}

nav {
    display: flex;
    gap: 55px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    margin-left: 30px;
}

.tab {
    background: linear-gradient(9deg, #2a4978, #62dcd4 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 17px;
   
} 

h3 {
    background: #dbc5a3;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}
.sleep-logger {
    padding: 20px;
    background: linear-gradient(2deg, #28445a, #3c3a60);
    border-radius: 25px;
    border-color: white;
    width: 700px;
    margin: 20px auto;
}

.weekHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.weekHeader h3 {
    margin: 0;
}

.divider {
    border-top: 1px solid #3B5998;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3B5998;
}

.form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.formContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}