
body {
    background-image: url('stars-in-sky-dark-2732x2732-15485.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat:repeat;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    flex: 1;
    background: rgb(8, 1, 56);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px white;
    color: white;
}

.value {
    font-size: 24px;
    font-weight: bold;
}

.charts {
    margin: 20px;
    background: rgb(8, 1, 56);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px white;
    color: white;
}

.title {
    background: linear-gradient(9deg, #de098a, #7e30da);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    margin-left: 30px;
}

.tab {
    background: none;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 17px;
} 

.tab.active {
    background: rgb(28, 17, 101);
}

.tab:hover {
    background: rgb(28, 17, 101);
}

h3 {
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

h4 {
    color: white;
    margin-top: 5px;
}

.sleep-logger {
    padding: 20px;
    background: rgb(8, 1, 56);
    width: 700px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px white;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

* {
    box-sizing: border-box;
}

.weekHeader {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.weekHeader h3 {
    margin: 0;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: linear-gradient(9deg, #de098a, #7e30da);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

